#homepage{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    
}

#heading{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: rgb(154, 18, 18);
    font-size: 105px;
    padding: 0px;
    margin:0px;
}
h2{
    color: rgb(97, 11, 11);
    padding: 0px;
    margin:0px;
}
button{
    width: 230px;
    height: 50px;
    background-color:rgb(154, 18, 18);
    color: white;
    border-width: 0px;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    border-radius:10%;
    margin: 10px;
    
    
}
button:hover{
    background-color:rgb(97, 11, 11);
}
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats h3{
    color: white;
    padding: 0px;
    margin:0px;
    font-size: 15px;

}
.stats h1 {
    color: white;
    font-size: 65px;
    padding: 0px;
    margin:0px;
}
#stats-container{
    
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 50px;
    background-color: rgb(154, 18, 18);
    padding: 25px;
    text-align: center;
    width: 100%;
}