.nav {
    position: fixed;
    top: 0;
    left:  0;
    width: 100%;
    background-color:rgb(154, 18, 18);
    display:flex;
    justify-content: right;
    align-items: center;
}
.nav ul{
    list-style-type: none;
    margin: 0px;
    display: flex;

}
.nav a{
    font-size: 15px;
    font-family: 'Segoe UI';
    text-decoration: none;
    color:white;
    text-align: none;
    font-weight: 500;
    margin: 0px;
    display: block;
    padding: 10px;
}

.nav a:active{
    background-color: rgb(154, 18, 18);
}
.nav a:hover{
    background-color: rgb(97, 11, 11);
}



