#Popup-overlay{
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  /* Prevent background from scrolling */
  overflow: hidden;
}
#Popup-title{
    color: rgb(154, 18, 18);
    font-size: 40px;
}
#Popup-container{
    background-color: white;
    min-width: 300px;
    max-width: 500px;
    max-height: 525px;
    border: 2px solid rgb(97, 11, 11);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
#Popup-content{
    max-height: 300px; 
    overflow-y: auto;
}

label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(97, 11, 11);
    font-weight: 500;
    padding: 0px;
    margin:3px;


}

input{
    border: 1px solid rgb(97, 11, 11);
    border-radius: 20px;
    padding: 5px;

}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.diagnosis{
    text-align: center;
}
