#resources{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
}
.title {
    color: rgb(154, 18, 18);
    font-size: 50px;
    padding: 0px;
    margin:0px;
}
#subtitle{
    font-style: italic;
}
